/*=========================
** Coin Ticker
=========================*/
.price-ticker-area{
    padding: 20px 0;
    background-color: $section-bg-color;
    .ccc-widget.ccc-header-v3{
        background:transparent !important;
    }
    .ccc-header-v3-ccc-price-container{
        img{
            margin-right: 10px;
        }
    }
    .ccc-header-v3-price-name,
    .ccc-header-v3-price-value,
    .ccc-header-v3-price-change{
        font-size: 20px;
    }
}